.header {
    display: flex;
    justify-content: space-between;
    height: 62px;
    color: white;
    z-index: 2;
    background-color: transparent;
    align-items: center;
    position: relative;
    top: 20px;
    margin: 0 60px;
}