@import url(../vendor/normalize.css);
@import url(../vendor/fonts/fonts.css);
@import url(../blocks/page/page.css);
@import url(../blocks/first-block/first-block.css);
@import url(../blocks/header/header.css);
@import url(../blocks/logo/logo.css);
@import url(../blocks/header/__logo/header__logo.css);
@import url(../blocks/header/__menu/header__menu.css);
@import url(../blocks/header/__list/header__list.css);
@import url(../blocks/header/__link/header__link.css);
@import url(../blocks/header/__link/_active/header__link_active.css);
@import url(../blocks/header/__shop/header__shop.css);
@import url(../blocks/header/__button/header__button.css);
@import url(../blocks/header/__cart-icon/header__cart-icon.css);
@import url(../blocks/header/__counter/header__counter.css);
@import url(../blocks/first-block/__backgrounds/first-block__backgrounds.css);
@import url(../blocks/first-block/__black-background/first-block__black-background.css);
@import url(../blocks/first-block/__blue-background/first-block__blue-background.css);
@import url(../blocks/first-block/__content/first-block__content.css);
@import url(../blocks/first-block/__links/first-block__links.css);
@import url(../blocks/first-block/__link/first-block__link.css);
@import url(../blocks/tagline/tagline.css);
@import url(../blocks/tagline/__image/tagline__image.css);
@import url(../blocks/tagline/__text/tagline__text.css);
@import url(../blocks/first-block/__headline/first-block__headline.css);
@import url(../blocks/first-block/__text/first-block__text.css);
@import url(../blocks/first-block/__buttons/first-block__buttons.css);
@import url(../blocks/first-block/__button/first-block__button.css);
@import url(../blocks/first-block/__button/_blue/first-block__button_blue.css);
@import url(../blocks/first-block/__button/_transparent/first-block__button_transparent.css);
@import url(../blocks/first-block/__image/first-block__image.css);
@import url(../blocks/second-block/second-block.css);
@import url(../blocks/second-block/__image/secong-block__image.css);
@import url(../blocks/second-block/__texts/secong-block__texts.css);
@import url(../blocks/second-block/__headline/second-block__headline.css);
@import url(../blocks/second-block/__text/second-block__text.css);
@import url(../blocks/second-block/__gallery/secong-block__gallery.css);
@import url(../blocks/second-block/__preview/secong-block__preview.css);
@import url(../blocks/news/news.css);
@import url(../blocks/news/__header/news__header.css);
@import url(../blocks/news/__headline/news__headline.css);
@import url(../blocks/news/__button/news__button.css);
@import url(../blocks/news/__articles/news__articles.css);
@import url(../blocks/article/article.css);
@import url(../blocks/article/_main/article_main.css);
@import url(../blocks/article/__image/article__image.css);
@import url(../blocks/article/__image/_main/article__image_main.css);
@import url(../blocks/article/__date/article__date.css);
@import url(../blocks/article/__date/_main/article__date_main.css);
@import url(../blocks/article/__headline/article__headline.css);
@import url(../blocks/article/__headline/_main/article__headline_main.css);
@import url(../blocks/footer/footer.css);
@import url(../blocks/footer/__info/footer__info.css);
@import url(../blocks/footer/__logo/footer__logo.css);
@import url(../blocks/footer/__text/footer__text.css);
@import url(../blocks/footer/__menu/footer__menu.css);
@import url(../blocks/footer/__menu-name/footer__menu-name.css);
@import url(../blocks/footer/__link/footer__link.css);