@import url(../vendor/normalize.css);
@import url(../vendor/fonts/fonts.css);
@import url(../blocks/page/page.css);
@import url(../blocks/first-block/first-block.css);
@import url(../blocks/header/header.css);
@import url(../blocks/logo/logo.css);
@import url(../blocks/header/__logo/header__logo.css);
@import url(../blocks/header/__menu/header__menu.css);
@import url(../blocks/header/__list/header__list.css);
@import url(../blocks/header/__link/header__link.css);
@import url(../blocks/header/__link/_active/header__link_active.css);
@import url(../blocks/header/__shop/header__shop.css);
@import url(../blocks/header/__button/header__button.css);
@import url(../blocks/header/__cart-icon/header__cart-icon.css);
@import url(../blocks/header/__counter/header__counter.css);
@import url(../blocks/first-block/__backgrounds/first-block__backgrounds.css);
@import url(../blocks/first-block/__black-background/first-block__black-background.css);
@import url(../blocks/first-block/__blue-background/first-block__blue-background.css);
@import url(../blocks/first-block/__content/first-block__content.css);
@import url(../blocks/first-block/__links/first-block__links.css);
@import url(../blocks/first-block/__link/first-block__link.css);
@import url(../blocks/tagline/tagline.css);
@import url(../blocks/tagline/__image/tagline__image.css);
@import url(../blocks/tagline/__text/tagline__text.css);
@import url(../blocks/first-block/__headline/first-block__headline.css);
@import url(../blocks/first-block/__text/first-block__text.css);
@import url(../blocks/first-block/__buttons/first-block__buttons.css);
@import url(../blocks/first-block/__button/first-block__button.css);
@import url(../blocks/first-block/__button/_blue/first-block__button_blue.css);
@import url(../blocks/first-block/__button/_transparent/first-block__button_transparent.css);
@import url(../blocks/first-block/__image/first-block__image.css);